@function hexToRGB($hex) {
    @return red($hex), green($hex), blue($hex);
}

$legendaryGreen:    #32ff32;
$legendaryBlue:     #9292e0;
$legendaryRed:      #905050;
$djYellow:          #ffff55;
/* Dark theme vars */
$bg0:   #202023;
$fg0:   #aaffaa;
$glow0: #ffffff;
$shadow0:  #000000;
$headFgA0:  #141434;
$headFgB0:  $legendaryGreen;
$headBgA0:  #323238;
$headBgB0:  #525278;
$headBgC0:  $legendaryBlue;
$inputFg0:  $legendaryGreen;
$inputBg0:  #000000;
$libBg0:    #253025;
$libFg0:    #999999;
$libTh0:    #ffffff;
$libTitle0: lighten($legendaryGreen,15%);
$libDur0:   $djYellow;
$queueFg0:  lighten($legendaryBlue, 15%);
$queueBg0:  darken($legendaryBlue, 65%);
$btnBg0: $legendaryGreen;
$btnFg0: #ffffff;
$reqBtnBg0: $legendaryGreen;
$reqBtnFg0: #000000;
$crateDropBg0:darken($legendaryBlue, 70%);
$crateHover0: $legendaryRed;
$newsHeadFg0: lighten($djYellow, 15%);
$newsFg0:     lighten($djYellow, 5%);
$newsBg0:     darken($djYellow, 65%);
$newsBtnFg0: #000000;
$newsBtnBg0: $djYellow;
$toastBg0:  lighten($legendaryBlue, 15%);
$toastBgError0: lighten($legendaryRed, 25%);
$toastFg0:  $inputBg0;

/* Light theme vars */
$bg1:   #e5e5f5;
$fg1:   #003000;
$glow1: #000000;
$shadow1: #111111;
$headFgA1:  #141434;
$headFgB1:  darken($legendaryGreen, 45%);
$headBgA1:  #d5d5f8;
$headBgB1:  #525278;
$headBgC1:  #323238;
$inputBg1:  #ffffff;
$inputFg1:  #004f00;
$libBg1:    #f0fff0;
$libFg1:    #000000;
$libTh1:    #000000;
$libTitle1: #004f00;
$libDur1:   darken($djYellow,75%);
$queueFg1:  darken($legendaryBlue, 95%);
$queueBg1:  lighten($legendaryBlue, 25%);
$btnBg1:    lighten($legendaryGreen, 35%);
$btnFg1:    darken($legendaryGreen, 50%);
$reqBtnBg1: darken($legendaryGreen, 25%);
$reqBtnFg1: #ffffff;
$crateDropBg1:lighten($legendaryBlue, 15%);
$crateHover1: lighten($legendaryBlue, 15%);
$newsHeadFg1: darken($djYellow, 55%);
$newsFg1:     darken($djYellow, 45%);
$newsBg1:     lighten($djYellow, 25%);
$newsBtnFg1: #ffffff;
$newsBtnBg1: darken($djYellow, 25%);
$toastBg1:  darken($legendaryGreen,25%);
$toastBgError1: $legendaryRed;
$toastFg1:  $inputBg1;

:root {
    --bg:   #{hexToRGB($bg0)};
    --fg:   #{hexToRGB($fg0)};
    --glow:     #{hexToRGB($glow0)};
    --shadow:   #{hexToRGB($shadow0)};
    --headFgA:  #{hexToRGB($headFgA0)};
    --headFgB:  #{hexToRGB($headFgB0)};
    --headBgA:  #{hexToRGB($headBgA0)};
    --headBgB:  #{hexToRGB($headBgB0)};
    --headBgC:  #{hexToRGB($headBgC0)};
    --inputBg:  #{hexToRGB($inputBg0)};
    --inputFg:  #{hexToRGB($inputFg0)};
    --libBg:    #{hexToRGB($libBg0)};
    --libFg:    #{hexToRGB($libFg0)};
    --libTh:    #{hexToRGB($libTh0)};
    --libTitle: #{hexToRGB($libTitle0)};
    --libDur:   #{hexToRGB($libDur0)};
    --queueFg:  #{hexToRGB($queueFg0)};
    --queueFg-weak:  #{hexToRGB(darken($queueFg0, 5%))};
    --queueFg-strong:  #{hexToRGB(lighten($queueFg0, 5%))};
    --queueBg-a:  #{hexToRGB($queueBg0)};
    --queueBg-b:  #{hexToRGB(lighten($queueBg0, 10%))};
    --btnBg:      #{hexToRGB($btnBg0)};
    --btnFg:      #{hexToRGB($btnFg0)};
    --reqBtnBg:   #{hexToRGB($reqBtnBg0)};
    --reqBtnFg:   #{hexToRGB($reqBtnFg0)};
    --crateDropBg:#{hexToRGB($crateDropBg0)};
    --crateHover: #{hexToRGB($crateHover0)};
    --newsHeadFg: #{hexToRGB($newsHeadFg0)};
    --newsFg:     #{hexToRGB($newsFg0)};
    --newsBg:     #{hexToRGB($newsBg0)};
    --newsBtnFg:  #{hexToRGB($newsBtnFg0)};
    --newsBtnBg:  #{hexToRGB($newsBtnBg0)};
    --toastBg:    #{hexToRGB($toastBg0)};
    --toastBgError:    #{hexToRGB($toastBgError0)};
    --toastFg:    #{hexToRGB($toastFg0)};
    /*@media screen and (prefers-color-scheme: light) {*/
    
}
[data-theme="Light Theme"] {
    --bg:       #{hexToRGB($bg1)};
    --fg:       #{hexToRGB($fg1)};
    --glow:     #{hexToRGB($glow1)};
    --shadow:   #{hexToRGB($shadow1)};
    --headFgA:  #{hexToRGB($headFgA1)};
    --headFgB:  #{hexToRGB($headFgB1)};
    --headBgA:  #{hexToRGB($headBgA1)};
    --headBgB:  #{hexToRGB($headBgB1)};
    --headBgC:  #{hexToRGB($headBgC1)};
    --inputBg:  #{hexToRGB($inputBg1)};
    --inputFg:  #{hexToRGB($inputFg1)};
    --libBg:    #{hexToRGB($libBg1)};
    --libFg:    #{hexToRGB($libFg1)};
    --libTh:    #{hexToRGB($libTh1)};
    --libTitle: #{hexToRGB($libTitle1)};
    --libDur:   #{hexToRGB($libDur1)};
    --queueFg:  #{hexToRGB($queueFg1)};
    --queueFg-weak:   #{hexToRGB(lighten($queueFg1, 5%))};
    --queueFg-strong: #{hexToRGB(lighten($queueFg1, 45%))};
    --queueBg-a:#{hexToRGB(darken($queueBg1, 10%))};
    --queueBg-b:#{hexToRGB($queueBg1)};
    --btnBg:    #{hexToRGB($btnBg1)};
    --btnFg:    #{hexToRGB($btnFg1)};
    --reqBtnBg:   #{hexToRGB($reqBtnBg1)};
    --reqBtnFg:   #{hexToRGB($reqBtnFg1)};
    --crateDropBg:#{hexToRGB($crateDropBg1)};
    --crateHover: #{hexToRGB($crateHover1)};
    --newsHeadFg: #{hexToRGB($newsHeadFg1)};
    --newsFg:     #{hexToRGB($newsFg1)};
    --newsBg:     #{hexToRGB($newsBg1)};
    --newsBtnFg:  #{hexToRGB($newsBtnFg1)};
    --newsBtnBg:  #{hexToRGB($newsBtnBg1)};
    --toastBg:    #{hexToRGB($toastBg1)};
    --toastBgError:    #{hexToRGB($toastBgError1)};
    --toastFg:    #{hexToRGB($toastFg1)};
}