/* You can add global styles to this file, and also import other style files */
html {
    font-size: 16px;
}
body {
    font-size: 62.5%;
    font-family: Roboto, 'Open Sans', Arial;
    background-color: rgba(25,25,30,1);
    /*background: linear-gradient(0deg, rgba(20,20,20,1.0), rgba(25,25,30,1.0));*/
}

input {
    color: #0adb00;
    background-color: rgba(0,0,0,0);
    border: 0;
}
input::placeholder {
    color: #327832;
}

#pAutoDj {
    color: rgba(188,188,255,0.75);
}

#pRecent {
    color: rgba(128,128,255,0.5);
    .playlistDiv {
        div:first-child {
            color: rgba(158,158,255,1);
            font-weight: bold;
            text-shadow: rgba(155,155,255,0.75) 1px 0 4px;
        }
    }
}

.track {
    display: flex;
    justify-content: space-between;
}