/* You can add global styles to this file, and also import other style files */
@function hexToRGB($hex) {
    @return red($hex), green($hex), blue($hex);
}

/* Dark theme vars */
$bg0:   #252528;
$fg0:   #aaffaa;
$headFgA0:  #141434;
$headFgB0:  #32ff32;
$headBgA0:  #323238;
$headBgB0:  #525278;
$headBgC0:  #9292f8;
$inputBg0:  #000000;
$inputPh0:  #327832;
$libBg0:    #253025;
$libFg0:    #999999;
$libTh0:    #ffffff;
$libTitle0: #32ff32;
$queueFg0:  #ccccff;
$queueBg0:  #22222f;
$buttonBg0: #03f300;
$buttonFg0: #ffffff;

/* Light theme vars */
$bg1:   #e0e0f5;
$fg1:   #003000;
$headFgA1:  #141434;
$headFgB1:  #32ff32;
$headBgA1:  #d5d5f8;
$headBgB1:  #525278;
$headBgC1:  #323238;
$inputBg1:  #ffffff;
$inputPh1:  #327832;
$libBg1:    #f0fff0;
$libFg1:    #000000;
$libTh1:    #000000;
$libTitle1: #004f00;
$queueFg1:  #0000ff;
$queueBg1:  #000064;
$buttonBg1: #000000;
$buttonFg1: #03f300;

:root {
    --bg:   #{hexToRGB($bg0)};
    --fg:   #{hexToRGB($fg0)};
    --headFgA:  #{hexToRGB($headFgA0)};
    --headFgB:  #{hexToRGB($headFgB0)};
    --headBgA:  #{hexToRGB($headBgA0)};
    --headBgB:  #{hexToRGB($headBgB0)};
    --headBgC:  #{hexToRGB($headBgC0)};
    --inputBg:  #{hexToRGB($inputBg0)};
    --inputPh:  #{hexToRGB($inputPh0)};
    --libBg:    #{hexToRGB($libBg0)};
    --libFg:    #{hexToRGB($libFg0)};
    --libTh:    #{hexToRGB($libTh0)};
    --libTitle: #{hexToRGB($libTitle0)};
    --queueFg:  #{hexToRGB($queueFg0)};
    --queueFg-weak:  #{hexToRGB(darken($queueFg0, 5%))};
    --queueFg-strong:  #{hexToRGB(lighten($queueFg0, 5%))};
    --queueBg-a:  #{hexToRGB($queueBg0)};
    --queueBg-b:  #{hexToRGB(lighten($queueBg0, 10%))};
    --buttonBg: #{hexToRGB($buttonBg0)};
    --buttonFg: #{hexToRGB($buttonFg0)};
    @media screen and (prefers-color-scheme: light) {
        --bg:   #{hexToRGB($bg1)};
        --fg:   #{hexToRGB($fg1)};
        --headFgA:  #{hexToRGB($headFgA1)};
        --headFgB:  #{hexToRGB($headFgB1)};
        --headBgA:  #{hexToRGB($headBgA1)};
        --headBgB:  #{hexToRGB($headBgB1)};
        --headBgC:  #{hexToRGB($headBgC1)};
        --inputBg:  #{hexToRGB($inputBg1)};
        --inputPh:  #{hexToRGB($inputPh1)};
        --libBg:    #{hexToRGB($libBg1)};
        --libFg:    #{hexToRGB($libFg1)};
        --libTh:    #{hexToRGB($libTh1)};
        --libTitle: #{hexToRGB($libTitle1)};
        --queueFg:  #{hexToRGB($queueFg1)};
        --queueFg-weak: ${hexToRGB(lighten($queueFg1, 5%))};
        --queueFg-strong: ${hexToRGB(darken($queueFg1, 5%))};
        --queueBg-a:  #{hexToRGB($queueBg1)};
        --queueBg-b:  #{hexToRGB(darken($queueBg1, 10%))};
        --buttonBg: #{hexToRGB($buttonBg1)};
        --buttonFg: #{hexToRGB($buttonFg1)};
    }
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    box-sizing: border-box;
    @media screen and (prefers-reduced-motion: reduce) {
        scroll-behavior: auto;
    }
}
body {
    font-size: 62.5%;
    font-family: Roboto, 'Open Sans', Arial;
    background-color: rgba(var(--bg), 1);
}

button {
    background-color: rgba(var(--buttonBg),1);
    color: rgba(var(--buttonFg),1);
    border: none;
    border-radius:3px;
    padding: 4px;
    text-transform:uppercase;
    font-weight:900;
    cursor:pointer;
    text-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    transition: all .35s ease-in-out;
}
button:hover {
    box-shadow: 0 0 10px rgba(3,243,0,0.5), inset 0 0 1px 1px #03f300;
}

#pAutoDj {
    /*color: rgba(188,188,255,0.75);*/
    color: rgba(var(--queueFg), 0.75);
}

#pRecent {
    /*color: rgba(128,128,255,0.5);*/
    color: rgba(var(--queueFg-weak), 0.5);
    .playlistDiv {
        div:first-child {
            /*color: rgba(158,158,255,1);*/
            color: rgba(var(--queueFg-strong), 1);
            font-weight: bold;
            /*text-shadow: rgba(155,155,255,0.75) 1px 0 4px;*/
            text-shadow: rgba(var(--queueFg-weak), 0.75) 1px 0 4px;
        }
    }
}

.track {
    display: flex;
    justify-content: space-between;
}