section#headerSection {
    display: flex;
    flex-direction:row-reverse;
    justify-content:center;
    align-items:flex-end;
    background-color:#323238;
    background: linear-gradient(0deg, #323238 25%, #525278 90%, #9292f8 110%);
    font-size: 5em;
    text-align: center;
    div#headerBar {
        flex: 1;
        h1 {
            margin: 0;
            font-family: 'Roboto Condensed', 'Roboto', Arial;
            text-transform: uppercase;
            text-shadow: rgba(255,255,255,0.5) 1px 0px 3px;
            /*color: rgba(14,14,34,0.75);*/
            color: rgba(var(--headFgA), 0.75);
            .h1Secondary {
                /*color: rgba(32,255,32,0.75);*/
                color: rgba(var(--headFgB), 0.75);
            }
        }
    }    
    div#toolBar {
        display: flex;
        justify-content: space-between;
    }
}
section#mainSection {
    display: flex;
    /*background-color: #aaa;*/
}

section#leftWrapper {
    min-width: 15%;
}

section#browseWrapper {
    /*max-height: 95dvh;*/
}

section#playHistory {
    padding: 1em;
    /*background-color: #141632;*/
    background-color: rgba(var(--queueBg), 1);
    /*background: linear-gradient(0deg, rgba(0,0,16,0.25), rgba(32,32,64,0.9));*/
    background: linear-gradient(180deg, rgba(var(--queueBg-a),0.25), rgba(var(--queueBg-b),0.9));
    min-width: 15%;
}

#headerQueueButton {
    display: none;
}

@media screen and (max-width: 960px) {
    section#headerSection {
        h1 {
            font-family: 'Roboto', 'Roboto', Arial;
            font-size: 0.5em;
        }
    }
    section#mainSection {
        flex-direction: column;
    }
    section#playHistory {
        display: none;
    }
    #headerQueueButton {
        display: inline-block;
    }
    section#playHistory.mobileQueue {
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 500;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }
}