section#headerSection {
    h1 {
        font-family: 'Roboto Condensed', 'Roboto', Arial;
    text-transform: uppercase;
    }
    background-color: #aaf;
}
section#mainSection {
    display: flex;
    background-color: #aaa;
}

section#browseData {
    background-color: #faf;
    min-width: 75%; /* Probably will get rid of this later */
}

section#playHistory {
    padding: 1em;
    background-color: #ffa;
}

#artistLetters {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    background-color: black;
    button {
        border: none;
        transition-duration: 0.4s;
        cursor: pointer;
        color: #777;
        background-color: rgba(0, 0, 0, 0.0);
    }
    button:hover {
        color: #ff7;
    }
    button:hover + button {
        color: #aa7;
    }
    button:has(+ button:hover) {
        color: #aa7;
    }
}