<section id="headerSection">
    <div id="headerBar"><h1>Legendary<span class="h1Secondary">Radio</span></h1></div>
</section>

<section id="mainSection">
    <section class="subSection" id="fileUploadWrapper">
        <app-file-upload></app-file-upload>
    </section>
    <!--section class="subSection" id="crateSelector">
        <button (click)="selectCrate(15)">EPICS</button>
    </section-->
    <section class="subSection" id="browseWrapper">
        <!--router-outlet></router-outlet-->
        <app-library></app-library>
    </section>
    <section class="subSection" id="playHistory">
        <app-playlist id="pAutoDj" [playlist]="autoDjPlaylist"></app-playlist>
        <app-playlist id="pRecent" [playlist]="mostRecentPlaylist"></app-playlist>
    </section>
</section> 