<section id="headerSection">
    <div id="headerBar">
        <a href="/">
            <h1>Legendary<span class="h1Secondary">Radio</span></h1>
        </a>
    </div>
    <div id="toolBar">
        <app-file-upload></app-file-upload>
        <button id="hamburgerBtn" (click)="toggleHamburgerMenu()">☰</button>
    </div>
    <div id="hamburgerMenu" *ngIf="showMenu">
        <button id="libraryButton" (click)="resetView()" [ngClass]="{toggled: (!showQueue && !showNew)}">Library</button>
        <button id="headerQueueButton" (click)="toggleQueue()" [ngClass]="{toggled: showQueue}">Queue</button>
        <button id="headerNewButton" (click)="toggleNewArrivals()" [ngClass]="{toggled: showNew}">New Arrivals</button>
        <app-file-upload></app-file-upload>
    </div>
</section>

<section id="welcomeText">
    <div class="toast">
        <p [innerHTML]="UI_WELCOME_TEXT"></p>
        <p [innerHTML]="UI_HELPTEXT_REQUEST"></p>
        <p [innerHTML]="UI_HELPTEXT_UPLOAD"></p>
    </div>
</section>

<section id="mainSection">
    <section class="subSection" id="leftWrapper" [ngClass]="{mobileNew: showNew}">
        <app-new-arrivals></app-new-arrivals>
    </section>
    <section class="subSection" id="browseWrapper">
        <!--router-outlet></router-outlet-->
        <app-library></app-library>
    </section>
    <section class="subSection" id="queueWrapper" [ngClass]="{mobileQueue: showQueue}">
        <div id="queueHeader"><h3>Song Queue</h3></div>
        <app-playlist id="pAutoDj" [playlist]="autoDjPlaylist"></app-playlist>
        <app-playlist id="pRecent" [playlist]="mostRecentPlaylist"></app-playlist>
    </section>
</section> 