section#libraryForm {
    form {
        display: flex;
        flex-direction: column;
        div {
            display: flex;
        }
        div#searchField {
            input {
                font-size: 2em;
                width: 100%;
                margin: 0.25em 0;
                padding: 0.5em 0;
            }
        }
        div#categoryFilter {
            justify-content: space-between;
            button.crateBtn {
                flex: 1;
                border-radius: 0.25em;
                background-color: rgba(64, 32, 32, 1);
                color: #fff;
                margin-left: 0.1em;
                height: 4em;
                border: none;
                cursor: pointer;
            }
            button.crateSelected {
                background-color: rgba(16, 16, 32, 1);
            }
        }
    }
}
    

section#libraryBrowse {
    height: 95dvh;
    overflow: scroll;
    div#alphaScroll {
        position: fixed;
        height: -webkit-fill-available;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        background-color: black;
        a {
            text-decoration: none;
            transition-duration: 0.4s;
            color: #777;
            background-color: rgba(0, 0, 0, 0.0);
        }
        a:hover {
            color: #ff7;
        }
        butaton:hover + a {
            color: #aa7;
        }
        a:has(+ a:hover) {
            color: #aa7;
        }
    }
    table.libraryTable {
        width: 100%;
        table-layout: fixed;
        /*background:#595959;*/
        background-color: rgba(0,0,0,0);
        background: linear-gradient(0deg, rgba(20,20,20,1.0), rgba(25,25,30,1.0));
        color: #999;
        border-collapse: collapse;
        tr {
            font-size: 1.25em;
        }
        tr:nth-child(odd) {
            background-color: rgba(50,100,50,0.05);
        }
        td {
            padding: 0.5em;
        }
        th {
            padding-top: 0.5em;
            text-align: left;
            font-family: 'Roboto Condensed', 'Roboto', Arial;
            font-size: 3em;
            color: #fff;
            border-bottom: 2px solid #fff;
            background: linear-gradient(0deg, rgba(255,255,255,0.15), rgba(0,0,0,0.0) 25%);
        }
        col.title {
            width: 30%;
        }
        .title{
            color: rgba(32,255,32,1.0);
        }
        col.album {
            width: 40%;
        }
        .album {
            font-style: italic;
        }
        col.artist {
            width: 20%;
        }
        .artist {
            color: rgba(255,255,255,0.15);
        }
        col.duration {
            width: 5%;
        }
        col.request {
            width: 5%;
        }
        .request {
            button {
                background: none;
                color: #afa;
                border: none;
            }
            button:hover {
                cursor: pointer;
            }
            span {
                display: none;
                color: red;
            }
        }
        td.request.requested {
            button {
                display: none;
            }
            span {
                display: block;
            }
        }
        td.request button:disabled {
            display: none;
        }
    }
}